{% extends "master.html" %}
{% block title %}
Listado de casas y departamentos
{% endblock %}

{% block content %}
<ul class="nav nav-tabs" id="myTab" role="tablist">
    <li class="nav-item" role="presentation">
        <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">Listado de casas</a>
    </li>
    <li class="nav-item" role="presentation">
        <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">Listado de departamentos</a>
    </li>
</ul>
<div class="tab-content" id="myTabContent">
    <!-- Listado de casas -->
    <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
        <h3>Número total de casas: {{ numero_casas }}</h3>
        
        {% if user.is_authenticated %}
          <a href="{% url 'crear_casa' %}"><input class="btn btn-primary" value='Agregar'/></a>
        {% endif %}

        <table class="table table-bordered" id="tabla_casas">

        <thead>
            <tr>
            <th>Propietario</th>
            <th>Barrio</th>
            <th>Direccion</th>
            <th>Valor de bien</th>
            <th>Color de inmueble</th>
            <th>Número de cuartos</th>
            <th>Número de pisos</th>
            {% if user.is_authenticated %}
            <th>Opciones</th>
            {% endif %}
            </tr>
        </thead>

        {% for c in casas %}
        <tbody>
            <tr>
            <td> {{c.propietario}}</td>
            <td> {{c.barrio}}</td>
            <td> {{c.direccion}}</td>
            <td> {{c.valor}}</td>
            <td> {{c.color}}</td>
            <td> {{c.num_cuartos}}</td>
            <td> {{c.num_pisos}}</td>
            {% if user.is_authenticated %}
            <td>
                <div class="opciones">
                <a href="{% url 'obtener_casa' c.id %}"><i class="far fa-eye"></i></a>
                <a href="{% url 'editar_casa' c.id %}"><i class="far fa-edit"></i></a>
                <a href="{% url 'eliminar_casa' c.id %}"
                    onclick="return confirm('¿Está seguro de la eliminación?')">
                    <i class="fas fa-trash"></i></a>
                </div>
            </td>
            {% endif %}
            </tr>
        </tbody>

        {% endfor %}
        </table>
        <br>


    </div>
    <!-- Listado de departamentos -->
    <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
        <h3>Número total de departamentos: {{ numero_departamentos }}</h3>
        
        {% if user.is_authenticated %}
          <a href="{% url 'crear_departamento' %}"><input class="btn btn-primary" value='Agregar'/></a>
        {% endif %}
        
        <table class="table table-bordered" id="tabla_departamentos">

        <thead>
            <tr>
            <th>Propietario</th>
            <th>Barrio</th>
            <th>Direccion</th>
            <th>Valor de bien</th>
            <th>Número de cuartos</th>
            <th>Costo mensual</th>
            {% if user.is_authenticated %}
            <th>Opciones</th>
            {% endif %}
            </tr>
        </thead>

        {% for d in departamentos %}
        <tbody>
            <tr>
            <td> {{d.propietario}}</td>
            <td> {{d.barrio}}</td>
            <td> {{d.direccion}}</td>
            <td> {{d.valor}}</td>
            <td> {{d.num_cuartos}}</td>
            <td> {{d.costo_mensual}}</td>
            {% if user.is_authenticated %}
            <td>
                <div class="opciones">
                <a href="{% url 'obtener_departamento' d.id %}"><i class="far fa-eye"></i></a>
                <a href="{% url 'editar_departamento' d.id %}"><i class="far fa-edit"></i></a>
                <a href="{% url 'eliminar_departamento' d.id %}"
                    onclick="return confirm('¿Está seguro de la eliminación?')">
                    <i class="fas fa-trash"></i></a>
                </div>
            </td>
            {% endif %}
            </tr>
        </tbody>

        {% endfor %}
        </table>
        <br>
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function () {
      $('#tabla_casas').DataTable({
            columnDefs: [{
            width: "250px",
            targets: 0
            },
            {
            width: "100px",
            targets: 1
            },
            {
            width: "100px",
            targets: 2
            },
            {
            width: "90px",
            targets: 7
            }
        ]
      });
      $('#tabla_departamentos').DataTable();
    });
</script>
{% endblock %}